ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: 'Merriweather', serif;
}

li
{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover
{
    font-family: 'Merriweather', serif;
    background-color: #4CAF50;
}


.container
{
    display: flex;
    flex-wrap: wrap;
    background-color: lightblue;
    justify-content: space-evenly;
    align-items: stretch;

}

.container > div
{
    background-color: lightcoral;
    margin: .5%;
}





















div > .item1
{

    background-color: burlywood;

}


div > .item2
{
    width: 10%;
   padding: .5%;
    order: 0.1;
}

.item2 >img
{
    display: inline;
    width: 100%;
}




















div > .item9
{
    width: 10%;
    order: 0.1;
    padding: .5%;
}

.item9 >img
{
    width: 100%;
}